<h1>Places I've Been</h1>

<div>
  <% for place in @places %>
    <p>
      <a href="<%= place_path(place) %>"><%= place.name %></a>
    </p>
  <% end %>
</div>

<a href="<%= new_place_path %>">New place</a>
